<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.boot.dao.ApiDAO">
	<select id="countDataByNameAndDate" resultType="int">
		SELECT COUNT(*) FROM api
		WHERE api_name = #{name}
			AND DATE(api_datetime) = #{date}
	</select>
	<!-- API 호출 시간 -->
	<insert id="insertApiData">
		INSERT INTO api (api_name, api_value, api_datetime, api_date)
		VALUES (#{name}, #{value}, NOW(), #{date})
	</insert>
	<!-- 최신 USD/KRW 가져오기 -->
	<select id="getUsdToKrwExchangeRate" resultType="double">
		SELECT api_value
		FROM api
		WHERE api_name = 'USD/KRW'
		ORDER BY api_datetime DESC
		LIMIT 1
	</select>
	<select id="getGldToKrwExchangeRate" resultType="double">
		SELECT api_value
		FROM api
		WHERE api_name = 'GLD'
		ORDER BY api_datetime DESC
		LIMIT 1
	</select>
	<select id="getVooToKrwExchangeRate" resultType="double">
		SELECT api_value
		FROM api
		WHERE api_name = 'VOO'
		ORDER BY api_datetime DESC
		LIMIT 1
	</select>
</mapper>