<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.boot.dao.ApiDAO">
	<select id="countDataByNameAndDate" resultType="int">
		SELECT COUNT(*) FROM api
		WHERE api_name = #{name}
			AND DATE(api_datetime) = #{date}
	</select>
	<insert id="insertApiData">
		INSERT INTO api (api_name, api_value, api_datetime)
		VALUES (#{name}, #{value}, #{datetime})
	</insert>
</mapper>