<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.boot.dao.UserAssetTargetDAO">
  <insert id="insertTarget" parameterType="kr.kh.boot.model.vo.UserAssetTargetVO">
    INSERT INTO user_asset_target (
      ta_us_num,
      ta_as_num,
      ta_target_percent,
      ta_end_date)
    VALUES (
      #{ta_us_num},
      #{ta_as_num},
      #{ta_target_percent},
      #{ta_end_date})
  </insert>
  <!-- 중복 방지 -->
  <select id="selectTargetByUserAndType" resultType="kr.kh.boot.model.vo.UserAssetTargetVO">
    SELECT *
    FROM user_asset_target
    WHERE ta_us_num = #{userId}
      AND ta_as_num = #{assetType}
  </select>
  <insert id="insertOrUpdateTarget" parameterType="UserAssetTargetVO">
    INSERT INTO user_asset_target (
      ta_us_num, ta_as_num, ta_target_percent, ta_end_date
    ) VALUES (
      #{ta_us_num}, #{ta_as_num}, #{ta_target_percent}, #{ta_end_date}
    )
    ON DUPLICATE KEY UPDATE
      ta_target_percent = VALUES(ta_target_percent),
      ta_end_date = VALUES(ta_end_date)
  </insert>
  <!-- 목표와 현재의 %차이 계산 -->
   <select id="selectRebalancingComparison" resultType="map" parameterType="int">
    SELECT 
      ua.as_asset_type,
      ua.as_currency,
      ua.as_won,
      ROUND(ua.as_won / total.total_won * 100, 2) AS current_percent,
      ut.ta_target_percent,
      ROUND(ROUND(ua.as_won / total.total_won * 100, 2) - ut.ta_target_percent, 2) AS gap_percent
    FROM user_asset ua
    JOIN (
      SELECT SUM(as_won) AS total_won 
      FROM user_asset 
      WHERE as_us_num = #{userId}
    ) total
    JOIN user_asset_target ut ON ua.as_type = ut.ta_as_num
    WHERE ua.as_us_num = #{userId}
      AND ut.ta_us_num = #{userId}
  </select>
</mapper>